body {
background-image: url('https://static.vecteezy.com/system/resources/previews/000/204/582/non_2x/summer-themed-blur-background-vector.jpg');
background-repeat: no-repeat;
background-size: cover;

}
#titel{
	text-align: center;
}

.general {
	width: 500px;
	margin: 40px auto ;
	overflow: auto ;
	font-family: inherit ;
}
.first{
	position: center ;
}
.second {
	width: 450px ;
	height: 500px;
	position: relative;
	overflow: hidden;
	float:left;
	padding: 3px;
	border:#666 solid 1px;
}
.second img {
	cursor: pointer;
	display: none ;
	width: 450px;
	height:500px;
}
.second img.active{
	cursor: pointer;
	display: inline-block;
}
.prev .next{
	float: left;
	margin-top: 130px;
	cursor: pointer;
}
.prev {
	cursor: pointer;
	margin-right: 100px;
    z-index: 100;
}
.next {
	cursor: pointer;
	margin-left: 250px;
    z-index: 100;
}
#text {
	
    font-size: 30px;
    font-style: oblique;
    font-weight:50px;
	float: left;
	margin-top: 200px;
	
}
.fav{
  padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: skyblue ;
  background-color: yellow;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px white ;

}
.fav:active {
  background-color: skyblue ;
  box-shadow: 0 5px #666;
  transform: translateY(10px);
  color : yellow;
}
#icon {
	float: left;
	width: 60px;
	height:70px;
	cursor: pointer;
}
#love{
	color: skyblue ;

}
